* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'TT Lakes';
  background-color: $white-color;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  align-self: center;
}

.main {
  max-width: 1120px;
  z-index: 1;
  background-color: $main-bgc-color;
}

.modal-sidebar__active {
  display: none;
}
